.projectContainer{
    width: 100%;
    /* margin-top: 6rem; */
    margin-top: 3rem;
}
.projectContainer h2{
    text-align: center;
    margin-top: 2rem;
}
.projectContainer ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.image{
    width: 100%;
    height: 25rem;
    overflow: hidden;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.projectContainer .action{
    text-align: center;
    padding: 1rem;
}
.action button{
    border-radius: 2rem;
    padding: 1rem;
    background-color: black;
}
.action button:hover{
    background-color: green;
    color: yellow;
}
.projectContainer p{
    text-align: center;
    padding-bottom: 1rem;
}
.projectContainer p:hover{
    color: yellow;
} 

 
 /* MEDIA QUERIES */
 /* THE FIRST ONE IS TARGETING SCREENS THAT ARE WIDER OR MORE THAN 410PX BUT LESS THAN 640PX. PHONES LIKE: IPHONE XR */
 @media screen and (min-width:410px) and (max-width:640px){

    .projectContainer{
        width: 100%;
        /* background-color: blueviolet; */
    }
    .projectContainer h2{
        text-align: center;
        margin-top: 5rem;
    }
    
    .projectContainer ul{
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
        gap: 12rem;
        width: 100%;
    }
    .image{
        width: 100%;
        height: 20rem;
        overflow: hidden;
    }
    .image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .projectContainer li{
        width: 100%;
       margin-top: 5rem;
    }
    .action button{
        border-radius: 2rem;
        padding: 1rem;
        background-color: black;
    }
    .action button:hover{
        background-color: green;
        color: yellow;
    }
    
}
 
/* MEDIA QUERIES */
/* THIS IS TARGETING SCREEN SIZE THAT ARE SMALLER THAN 410PX. PHONES LIKE IPHONE 12 PRO */
@media screen and (max-width:410px){
    .projectContainer{
        width: 100%;
        /* background-color: yellow; */
    }
    .projectContainer h2{
        text-align: center;
        margin-top: 2rem;
    }
    .projectContainer ul{
        display: flex;
        flex-direction: column;
        
        margin-top: 0rem;
        gap: 13rem;
        width: 100%;
    }
    
    .projectContainer li{
        width: 100%;
        
    }
    .action button{
        border-radius: 2rem;
        padding: 1rem;
        background-color: black;
    }
    .action button:hover{
        background-color: green;
        color: yellow;
    }
    
}

/* MEDIA QUERIES */
/* THIS IS TARGETING SCREEN SIZE THAT ARE SMALLER THAN 360PX. PHONES LIKE SAMSUNG GALAXY S8+ */
@media screen and (max-width:360px){
    .projectContainer{
        width: 100%;
        height: 100%;
        /* background-color: red; */
    }
    .projectContainer h2{
        text-align: center;
        margin-top: 0rem;
    }
    .projectContainer ul{
        display: flex;
        flex-direction: column;
        gap: 12rem;
        margin-top: 0rem;
        width: 100%;
        
    }
    .image{
        width: 100%;
        height: 20rem;
        overflow: hidden;
    }
    .image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .projectContainer li{
        width: 100%;
        margin-top:0rem;
    }
    .action button{
        border-radius: 2rem;
        padding: 1rem;
        background-color: black;
    }
    .action button:hover{
        background-color: green;
    }
       
}