.card {
  background-color: green;
  border-radius: 6px;
  width: 100%;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
  padding: 0.2rem;
  transition: background-color 3s ease-in-out; /* Added 'background-color' to the transition property */
}

.card:hover {
  background-color: black;
}


@media screen and (max-width:768px){
  .card{
    width: 100%;
  }
}
