.container{
  margin-top: 6rem;
}
.container > h2 {
  text-align: center;
  margin-top: 2rem;
}
.skills {
  width: 100%;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='3rem' viewBox='0 0 448 512'%3E%3Cpath d='M201 10.3c14.3-7.8 31.6-7.8 46 0L422.3 106c5.1 2.8 8.3 8.2 8.3 14s-3.2 11.2-8.3 14L231.7 238c-4.8 2.6-10.5 2.6-15.3 0L25.7 134c-5.1-2.8-8.3-8.2-8.3-14s3.2-11.2 8.3-14L201 10.3zM23.7 170l176 96c5.1 2.8 8.3 8.2 8.3 14V496c0 5.6-3 10.9-7.8 13.8s-10.9 3-15.8 .3L25 423.1C9.6 414.7 0 398.6 0 381V184c0-5.6 3-10.9 7.8-13.8s10.9-3 15.8-.3zm400.7 0c5-2.7 11-2.6 15.8 .3s7.8 8.1 7.8 13.8V381c0 17.6-9.6 33.7-25 42.1L263.7 510c-5 2.7-11 2.6-15.8-.3s-7.8-8.1-7.8-13.8V280c0-5.9 3.2-11.2 8.3-14l176-96z' /%3E%3C/svg%3E%0A" );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 99.5%;
  background-color: darkgreen;
  margin-top: 0rem;
  /* animation-name: jump;
  animation-duration: 5s;
  
  animation-iteration-count: infinite;
  animation-delay: 1s;
  transition: ease-in-out; */
} 
.key{
  display: flex;
  gap: 8rem;
  margin-top: 2rem;
}


.skills svg {
  background-color: darkgrey;
}

.frontend-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  padding: 1rem;
}
.frontend-skills ul {
  padding: 0;
  text-align: left;
  list-style: none;
}
.frontend-skills li {
  margin-bottom: 0.5rem;
}
.frontend-skills span {
  color: greenyellow;
}



.backend-skills ul {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  /* align-items: center; */
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  gap: 3rem;
  /*margin-left: 11rem; */
  text-align: left;
  list-style: none;
}


.backend-skills li {
  margin-bottom: 0.5rem;
  
}
.backend-skills span {
  color: yellowgreen;
}

/* @keyframes jump {
  from{transform: translateY(0);}
  to{transform: translateY(50px);}
} */

@media screen and (max-width: 640px) {
  .skills {
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    background-color: darkgreen;
  }
  .key{
    display: none;
  }
  .container {
    margin-top: 1rem;
    width: 100%;
  }
  
.container > h2 {
  text-align: center;
  margin-top: 6rem;
}
  .frontend-skills-container {
    margin-top: 1rem;
    width: 100%;
  }
  .frontend-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .frontend-skills li {
    margin-bottom: 2rem;
  }

  .backend-skills {
    width: 100%;
  }
  .backend-skills-container{
    margin-top: -2rem;
  }
  .backend-skills ul {
    padding-top: 1rem;
    display: flex;
    margin-left: 0;
    text-align: left;
    
  }
  
}
                               