.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 5rem;
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 2000;
    top: 0;

}
.header h1{
    color: green;
    
}
.header nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.header nav ul li{
    margin-right: 1rem;
}
a{
    text-decoration: none;
    color: white;
}
.header nav ul li a:hover{
    color: green;
    cursor: pointer;
}
.active{
    color: brown;
}


/* MobileResponsiveness */
@media screen and (max-Width:640px){
    .header{
        background-color: black;
        width: 100%;
    }
    .header div{
        margin: 2rem auto;
                
    }
    .header h1{
        margin-top: 3rem;
        text-align: center;

    }
    .header nav ul{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0%;
        right: 0%;
        bottom: 2rem;    
        background-color: green;
        padding: 1rem;
        border-radius: 8px;
        z-index: 2000;
    }
    .header nav ul li a:hover{
        color: white;
        cursor: pointer;
    }
    .active{
        color:white;
        background-color: black;
        border-radius: 12px;
        padding: 0.5rem 0.9rem;
    }
}
