.footer {
  text-align: center;
  height: 4rem;
  font-size: 1rem;
  margin-bottom: 6rem;
  min-width: 20rem;
  /* margin-bottom: 1.5rem; */
}
.socials {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  gap: 2rem;
}
.social{
    font-size: 2rem;
}
.insta:hover {
  color: yellow;
  transform: translateY(-5px);
  transition: 1s;
  cursor: pointer;
}
.twit:hover {
  color: yellow;
  transform: translateY(-5px);
  transition: 1s;
  cursor: pointer;
}
.linked:hover {
  color: yellow;
  transform: translateY(-5px);
  transition: 1s;
  cursor: pointer;
}
.footer p:hover{color: rebeccapurple;}

@media screen and (max-width:640px){
  .footer{
    margin-top: -3rem;
  }
}