.container{
    width: 100%;
    /* height: 100%; */
    /* padding: 1.5rem; */
    margin-top: 6rem;
}
.container h2{
    text-align: center;
    margin-top: 2rem;
}
.about{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100%; */
    padding: 2rem;
}
.image{
    width: 50%;
    padding: 1rem;
}
.image img{
    width: 100%;
    /* height: 50%; */
    /* height: 300px; */
    height: 500px;
    border-radius: 6px;
    animation-name: fadeIn;
    animation-duration: 10s;
}
.about-desc span{
    font-size: 1.3rem;
}
.about-desc{
    width: 50%;
    padding: 1rem;
    
    /* height: 100vh; */
    /* overflow: hidden; */
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}



@media screen and (min-width:640px) and (max-width:1020px){
    span{
        font-size: 1.2rem;
    }    
}

@media screen and (max-width:640px){
    
    .container h2{
        text-align: center;
        /* margin-top: 1rem; */
    }
    .about{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 2rem;
        margin-top: -2.5rem;
    }
    .image{
        width: 100%;
        padding: 1rem;
    }
    .image img{
        width: 100%;
        height: 50%;
        border-radius: 6px;
    }
    .about-desc{
        width: 100%;
        padding:0rem 1rem;
        margin-top: -1rem;
        /* height: 100vh; */
        /* overflow: hidden; */
    }   
}