.main-container{
    width: 100%;
    /* margin-top: 6rem; */
    margin-top: 3rem;
}
.main-container h2{
    text-align: center;
    margin-top: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 3rem;    
}
.contact-form{
    padding: 1rem;
    background-color: black;
    border: 0.1px transparent #aaa;
    border-radius: 6px;
    width: 45%;
}
form h4{
    text-align: center;
}
.control{
    padding: 1rem;
}
.control label{
    display: block;
    margin-bottom: 1rem;
    color: green;
}
.control input, textarea{
    width: 100%;
    display: block;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    border: 0.1px solid #aaa;
    font: inherit;
    padding: 0.5rem;
}
.action{
    text-align: center;
}
.action button{
    width: 100%;
    border-radius: 6px;
    background-color: green;
    padding: 0.5rem;
}
.action button:hover{
    background-color: white;
}

.address-section{
    margin-top: 0;
    padding: 1rem;
    width: 45%;
}


.paragraph{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.paragraph p{
    padding: 1rem 0rem;
}
.invalid input{
    border: 1px solid red;
}
.invalid textarea{
    border: 1px solid red;
}





 /* MEDIA QUERIES */
 /* THE FIRST ONE IS TARGETING SCREENS THAT ARE WIDER OR MORE THAN 410PX BUT LESS THAN 640PX. PHONES LIKE: IPHONE XR */
 @media screen and (min-width:410px) and (max-width:640px){
    .main-container h2{
        text-align: center;
        margin-top: 6rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 10rem;
        width: 100%;
    }
    .contact-form{
        width: 100%;
    }
    .address-section{
        width: 100%;
        margin-top: 1.5rem;
        z-index: 1000;
        
    }
    .address-section .paragraph{
        width: 100%;
        margin-bottom: 0.3rem;
    }
 }
   

 /* MEDIA QUERIES */
/* THIS IS TARGETING SCREEN SIZE THAT ARE SMALLER THAN 410PX. PHONES LIKE IPHONE 12 PRO */
 @media screen and (min-width:360px) and (max-width:410px){
    .main-container h2{
        text-align: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 8rem;
        width: 100%;
    }
    .contact-form{
        width: 100%;
    }
    .address-section{
        width: 100%;
        margin-top: 1.5rem;
        z-index: 1000;
        
    }
    .address-section .paragraph{
        width: 100%;
        margin-bottom: 0.3rem;
    }
    
}


@media screen and (max-width:360px){
    .main-container h2{
        text-align: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 6rem;
        width: 100%;
    }
    .contact-form{
        width: 100%;
    }
    .address-section{
        width: 100%;
        margin-top: 1.5rem;
        z-index: 1000;
        
    }
    .address-section .paragraph{
        width: 100%;
        margin-bottom: 0.3rem;
    }
    
}